/* Animação no texto nos titulos */
.txtAnimado {
  opacity: 0;
  transform: translateY(20px);
  /* ease-out começa rápido e termina devagar e forwards mantém o estado final qnd termina */
  animation: Subir 1s ease-out forwards;  
}

@keyframes Subir {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-vinho:hover {
  text-decoration: underline;
  color: #800000;
}
.nav-link:hover {
  color: #800000;
  text-decoration: underline;
}
.textarea:focus {
  border: 2px solid #800000;
  outline: none;
}
/*Se o email digitado nao for valido, cria uma cor de fundo indicativa*/
input[type=email]:invalid {
  background: rgb(221, 173, 84);
}
/* Adicionar uma cor nos botoes do formulario. */
form button:hover {
  background-color: #800000;
  color: white;
}
.ceo img:hover {
  transform: scale(1.1); /* Aumento de tamanho para a img */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Adicionando um pouco de sombra */
}